body {
  margin-top: 100px;
  background-color:lightblue;
}


.welcome {
  width: 600px;
  height: 404px;
  margin:0 auto;
  border: 2px solid red;

}
.logoClass {
  border: 2px dashed black;
/*  margin-top: 100px;*/
/*  margin-left: 50%;*/
  width: 340px;
  height:400px;
  float: left;
  /*position: relative;*/
}
.loginBox {
/*  padding: 15px;*/
  font-size: 14px;
  background-color:white;
/*  margin-right: 50%;*/
  border: 2px dashed black;
  /*margin-top:100px;*/
  margin-left:350px;
/*  padding-left: 10px;*/
  width: 246px;
  height:121px;
  text-align: center;
  /*position:relative;*/
}

.signupBox {
  /*padding: 15px;*/
  background-color:white;
  border: 2px dashed black;
  margin-top:10px;
  margin-left:350px;
  width: 246px;
  height:265px;
  font-size: 14px;
  text-align: center;
}
form-label {
  float: left;
  margin-top:4px;
}
select {
  float:right;
  width: 67%;

}

.LoginBox {
  font-size:100%;
  width:80%;
}

.LoginButton {
  float: right;
  margin-right: 13%;
}

.textBox {
  /*font-size: 75%;*/
  height:5%;
  width: 80%;
}

/*          profile css */

ul {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0px 0 0 0;
}

li {
    list-style: none;
    line-height: 15px;
}
